body {
    height: 100vh;
}

.container {
    border-radius: 5px;
    text-align: center;
}

.search {
    text-align: start;
}

input {
    width: 90%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

th {
    background-color: lawngreen;
}

tr:nth-child(even) {
    background-color: ghostwhite;
}

table .table-left {
    text-align: left;
}

.num-surah {
    width: 5%;
}

.name-surah {
    width: 10%;
}

.name-trans {
    width: 20%;
}

.num-ayah {
    width: 5%;
}

.place-surah {
    width: 8%;
}

.type-surah {
    width: 10%;
}